@charset "utf-8";
/*Em HTML id = # em CSS (um elemento por página)*/
/*em HTML class = . em CSS (podem vários elementos)*/
body {
    background-color: rgb(21, 179, 126);
    text-align: justify;
}

h1 {
    color: rgb(0, 100, 95);
    text-align: left;
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 100, 95);
    color: rgb(240, 248, 255);
}

h2 {
    color: rgb(0, 100, 95);
}

.basico {
    color: rgb(28, 146, 107);
}

.intermediario {
    color: rgb(28, 146, 107);
}

.avancado {
    color: rgb(28, 146, 107);
}

.destaque {
    background-color: yellowgreen;
}